@import (less) '../../../node_modules/normalize.css/normalize.css';
@import (less) '../../../node_modules/suitcss-base/lib/base.css';

html {
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
    color: rgba(0,0,0,0.85);
    line-height: 1.5;
}

.wf-loading > * {
    visibility: hidden;
}

.hero {
    min-height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('/img/header-blur2.jpg');
}

.hero-content {
    text-align: center;
}

.font-script {
    font-family: "penna-connected-swashes", sans-serif;
}

.wt-lt {
    font-weight: 300;
}
.wt-bk {
    font-weight: 400;
}
.wt-md {
    font-weight: 500;
}
.wt-hvy {
    font-weight: 700;
}

.text-lg { font-size: 2rem; }
.text-xl { font-size: 3rem; }
.text-xsl { font-size: 3.5rem; }
.text-xxl { font-size: 5.5rem; }
.text-spaced-sm { letter-spacing: 0.125em; }
.text-spaced { letter-spacing: 0.25em; }
.line-height-tight { line-height: 1; }

.text-justify {
    text-align: justify;
    margin-bottom: -1.5em !important;

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
}

.text-justify-short {
    margin-bottom: -1em !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.mar-t-xxl { margin-top: 8rem; }
.mar-b-xxl { margin-bottom: 8rem; }

.bg-gray { background-color: #f4f4f4; }

.page-section {
    text-align: center;
    padding: 2rem;

    h3 {
        .wt-md;
        .text-lg;
        margin-bottom: 1rem;
    }
}

.text-left {
    text-align: left;
}

.container-sm {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    display: block;
    margin-bottom: 2rem;

    &.has-error {
        .form-control { border-color: #d9534f; }
        .form-label { color: #d9534f; }
        .form-control-feedback {
            display: block;
            color: #d9534f;
        }
    }
}

.form-control-feedback {
    display: none;
}

.form-label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;
    .wt-md;
}

.form-control {
    border: 1px solid #ddd;
    display: block;
    width: 100%;
    padding: 0.5em 1em;
}

.form-checkbox {
    display: block;
    margin-top: 0.5rem;
    > input[type="checkbox"] {
        margin-right: 0.5rem;
    }
}

.btn {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    .wt-hvy;
}
.btn-lg {
    font-size: (22/18) * 1rem;
}
.btn-primary {
    background-color: #ffaba9;
    border-color: #ffaba9;
    color: #fff;
    &:focus, &:active, &:hover {
        background-color: darken(#ffaba9, 5%);
        border-color: darken(#ffaba9, 5%);
    }
}
.btn-block {
    display: block;
    width: 100%;
}
