@import (less) '../../../node_modules/normalize.css/normalize.css';
@import (less) '../../../node_modules/suitcss-base/lib/base.css';

html {
    font-family: "futura-pt", sans-serif;
    font-size: 14px;
    @media (min-width: 500px) {
        font-size: 18px;
    }
    color: rgba(0,0,0,0.85);
    line-height: 1.5;
}

.wf-loading > * {
    visibility: hidden;
}

.hero {
    position: relative;
    min-height: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('/img/mill-bg5.jpg');
    padding: 2rem;
    @media (min-width: 940px) {
        min-height: 100vh;
    }
}

.hero-content {
    text-align: center;
}

.hero-h1 {
    .text-uppercase;
    .wt-lt;
    .line-height-tight;
    .text-justify;
    .text-justify-short;

    font-size: 2rem;

    @media (min-width: 500px) {
        font-size: 10vw;
    }

    @media (min-width: 940px) {
        font-size: 5.5rem;
    }
}
.hero-h2 {
    .text-uppercase;
    .wt-hvy;
    .text-justify;

    font-size: 1.5rem;

    @media (min-width: 500px) {
        .text-spaced-sm;
        font-size: 6.2vw;
    }

    @media (min-width: 940px) {
        font-size: 3.5rem;
    }
}
.hero-h3 {
    .text-uppercase;
    .wt-lt;
    .text-justify;

    @media (min-width: 500px) {
        .text-spaced;
        font-size: 3.3vw;
    }

    @media (min-width: 940px) {
        font-size: 2rem;
    }
}

.font-script {
    font-family: "penna-connected-swashes", sans-serif;
}

.wt-lt {
    font-weight: 300;
}
.wt-bk {
    font-weight: 400;
}
.wt-md {
    font-weight: 500;
}
.wt-hvy {
    font-weight: 700;
}

.text-slg { font-size: 1.5rem; }
.text-lg { font-size: 2rem; }
.text-xl { font-size: 3rem; }
.text-xsl { font-size: 3.5rem; }
.text-xxl { font-size: 5.5rem; }
.text-spaced-sm { letter-spacing: 0.125em; }
.text-spaced { letter-spacing: 0.25em; }
.line-height-tight { line-height: 1; }

.text-justify {
    text-align: justify;
    margin-bottom: -1.5em !important;

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
}

.text-justify-short {
    margin-bottom: -1em !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.mar-t-xxl { margin-top: 8rem; }
.mar-b-xxl { margin-bottom: 8rem; }
.mar-b { margin-bottom: 2.5rem; }
.mar-b-sm { margin-bottom: 0.75rem; }

.bg-gray { background-color: #f4f4f4; }

.page-section {
    text-align: center;
    padding: 2rem;

    > h3 {
        .wt-md;
        .text-slg;
        .text-uppercase;
        .text-spaced-sm;
        margin-bottom: 1rem;

        @media (min-width: 500px) {
            .text-lg;
        }
    }
}

.text-left {
    text-align: left;
}

.container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.container-sm {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    display: block;
    margin-bottom: 2rem;

    &.has-error {
        .form-control { border-color: #d9534f; }
        .form-label { color: #d9534f; }
        .form-control-feedback {
            display: block;
            color: #d9534f;
        }
    }
}

.form-control-feedback {
    display: none;
}

.form-label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;
    .wt-md;
}

.form-control {
    border: 1px solid #ddd;
    display: block;
    width: 100%;
    padding: 0.5em 1em;
}

.form-checkbox {
    display: block;
    margin-top: 0.5rem;
    > input[type="checkbox"] {
        margin-right: 0.5rem;
    }
}

.btn {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    .wt-hvy;
}
.btn-lg {
    font-size: (22/18) * 1rem;
}
.btn-primary {
    background-color: #ffaba9;
    border-color: #ffaba9;
    color: #fff;
    &:focus, &:active, &:hover {
        background-color: darken(#ffaba9, 5%);
        border-color: darken(#ffaba9, 5%);
    }
}
.btn-block {
    display: block;
    width: 100%;
}


.full-map {
    position: relative;
    padding-bottom: 350px;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: -2rem;
    > iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.half-map {
    position: relative;
    max-width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    > iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
.directions-card {
    display: none !important;
}

.img-fit {
    max-width: 100%;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.col-6 {
    @media(min-width: 740px) {
        float: left;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
